.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 80vh;
    margin-top: 5%;
    margin: auto;
    background-color:blanchedalmond;
}

.header-text {
    font-size: 25px;
    font-weight: bold;
    color: black;
}
